
a{
	text-decoration: none;
}
.btr{
	padding:2px 4px 2px 4px;
	color:rgb(255, 255, 255);
	background-color: #1f75d9;
	border-bottom: 5px solid #165195;
	border-right: 2px solid #165195;
	text-shadow: 2px 1px rgba(0,0,0,0.44);
}
.tree input[type="checkbox"]:checked~ul{
	display:none;
}
form{
	display: none;
}
.showing{
	display: block;
}
@keyframes fadeIn{
	from{
		opacity: 0
	}to{
		opacity: 1
	}
}
.bgImage{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	z-index: -1;
	animation: fadeIn 0.5 linear;
}